.advantages {
  --item-before-bg: rgba(55, 28, 77, 0.5);

  display: grid;
  padding: 0;

  list-style: none;
  column-gap: 15px;

  grid-template-columns: 1fr 1fr;

  row-gap: 20px;
  padding-top: 2em;
  padding-bottom: 6em;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    padding-bottom: 4em;
  }
}

.advantages__item {
  display: grid;
  align-items: center;
  padding-top: 25px;
  padding-right: 20%;
  padding-bottom: 25px;

  text-align: center;
  column-gap: 15px;

  grid-template-columns: 100px 1fr;

  &_offset_right {
    padding-right: 0;
    padding-left: 20%;
  }

  &::before {
    flex-shrink: 0;
    width: 100%;
    padding-top: 100%;

    background-color: var(--item-before-bg);
    background-size: 50% auto;
    border-radius: 50%;
  }

  @media screen and (max-width: 1024px) {
    padding: 0;

    text-align: left;

    &_offset_right {
      padding-left: 0;
    }
  }
}
