.delivery {
  background-image: url("../img/large-purple-bg.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: auto;
  @media screen and (max-width: 1024px) {
    background-image: none;
  }
}

.delivery__container {
  padding-top: 25px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10%;
  @media screen and (max-width: 1024px) {
    column-gap: 10%;
    padding-top: 0;
    padding-bottom: 0;
    grid-template-columns: 1fr;
    align-items: start;
  }
}

.delivery__title {
  font-family: var(--serif-font);
  grid-column: 1/-1;
  margin-top: 0;
  font-size: 36px;
  line-height: 1.5;
  color: #C6996F;
  font-weight: 400;
  @media screen and (max-width: 1024px) {
    font-size: 36px * 0.8;
  }
}

.delivery__description {
  padding-left: 20%;

  h2 {
    min-height: 3em;
    font-weight: 300;
    font-size: 24px;
    @media screen and (max-width: 1024px) {
      min-height: auto;
      font-size: 24px * 0.8;
    }
  }
  a {
    color: #C6996F;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 768px) {
    padding-left: 0;
  }
}