.photo-frame {
  --caption-bg: rgba(55, 28, 77, 0.5);
  --photo-frame-drsh: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: flex-end;
  cursor: pointer;

  filter: drop-shadow(0px 10px 40px var(--photo-frame-drsh));

  @media screen and (max-width: 1024px) {
    display: block;
  }
}

.photo-frame__picture {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  margin: 0;

  @media screen and (max-width: 1024px) {
    position: relative;

    width: 100%;
    height: 240px;
  }
}

.photo-frame__picture img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
  transition: transform 0.3s;
}

.photo-frame:hover .photo-frame__picture img {
  transform: scale(1.05);
  @media screen and (max-width: 1024px) {
    transform: none;
  }
}

.photo-frame__wrapper {
  width: 100%;
  position: relative;
  z-index: 2;

  overflow: hidden;
}

.photo-frame__caption {
  margin: 0;
  padding: 0.5em 15px;
  padding-right: 15px;
  padding-left: 15px;
  overflow: hidden;

  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  font-family: var(--sans-serif-font);
  text-align: center;

  background-color: var(--caption-bg);
  transform: translateY(100%);

  transition: transform 0.3s;

  @media screen and (max-width: 1024px) {
    transform: none;
  }
}

.photo-frame:hover .photo-frame__caption {
  transform: translateY(0);

  transition: transform 0.5s;

  @media screen and (max-width: 1024px) {
    transform: none;

    transition: none;
  }
}
