.search-form {
  display: flex;
  align-items: flex-start;
}

.search-form__body {
  flex-shrink: 1;
}

.search-form__field {
  width: 100%;
}

.search-form__submit {
  flex-shrink: 0;
  margin-left: 20px;

  &::before {
    width: 20px;
    height: 20px;

    opacity: 0.7;
  }

  &:hover::before,
  &:focus::before {
    opacity: 1;
  }
}
