.slider {
  position: relative;
  overflow: hidden;
  --wrapper-scrollbar-thumb-c: #c79a70;
  --wrapper-scrollbar-track-c: rgba(55, 28, 77, 0.5);
  padding-bottom: 10em;
  @media screen and (max-width: 1024px) {
    padding-bottom: 6em;
  }
}

.slider__item:last-child {
  margin-left: 0;
}

.slider_static .slider__wrapper {
  margin-bottom: 2em;
  @media screen and (max-width: 1024px) {
    overflow-x: scroll;

    @include scrollbar(
      var(--wrapper-scrollbar-thumb-c),
      var(--wrapper-scrollbar-track-c),
      thin,
      10px,
      10px
    );
  }
}

.slider_static .slider__list {
  display: grid;

  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);

  @media screen and (max-width: 1024px) {
    grid-auto-flow: column;
    grid-gap: 30px;
    grid-template-columns: none;
    scroll-snap-type: x mandatory;
  }
}

.slider_static .slider__item {
  margin: 0;
  @media screen and (max-width: 1024px) {
    width: 300px;
    scroll-snap-align: center;
  }
}

.slider_static .slider__control {
  display: none;
}

.slider__wrapper {
  padding-top: 4em;
  padding-bottom: 3em;
  @media screen and (max-width: 1024px) {
    padding-bottom: 0;
  }
}

.slider__list {
  position: relative;
  left: 0;

  display: flex;
  margin: 0;

  padding: 0;

  list-style: none;
  
  @media screen and (max-width: 1024px) {
    margin-bottom: 20px;
  }
}

.slider__item {
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  min-height: 450px;
  margin-right: 10px;
  margin-left: 10px;
}

.slider__control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  @media screen and (max-width: 1024px) {
    margin-top: 0;
  }
  
  &_center {
    margin: 0;
  }
}

.slider__control_center .slider__prev {
  position: absolute;
  top: 50%;
  left: -10px;
}

.slider__control_center .slider__next {
  position: absolute;
  top: 50%;
  right: -10px;
}

.slider__prev {
  margin-right: 25px;

  transform: rotate(180deg);

}

.slider__next {
  margin-left: 25px;
}

.slider__link {
  display: block;
  max-width: 360px;
  margin: 0 auto;
}
