@keyframes appearance-in-move {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes to-appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes to-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
