:root {
  --sans-serif-font: "Comfortaa", "Arial", "Tahoma", "sans-serif";
  --serif-font: "Ledger", "Georgia", "Times New Roman", "serif";
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
