@mixin scrollbar($color-thumb, $color-track, $size, $width, $height) {
  scrollbar-color: $color-thumb $color-track;
  scrollbar-width: $size;

  &::-webkit-scrollbar {
    width: $width;
    height: $height;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-thumb;
  }

  &::-webkit-scrollbar-track {
    background-color: $color-track;
  }
}
